matahata-core-sp/src/main/resources/wsdl/MatahataService/MatahataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TransferManagementService"
	targetNamespace="http://com.zwort/matahata/Services/1"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://com.zwort/matahata/Services/1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<!-- types -->
	<wsdl:types>
		<xsd:schema targetNamespace="http://com.zwort/matahata/Services/1">
			<xsd:include schemaLocation="../Service.xsd" />
		</xsd:schema>
	</wsdl:types>

		<!-- messages -->
	<wsdl:message name="addNewPlan">
		<wsdl:part name="addNewPlan" element="addNewPlan">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addNewPlanResponse">
		<wsdl:part name="addNewPlanResponse" element="addNewPlanResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addNewTransfer">
		<wsdl:part name="addNewTransfer" element="addNewTransfer">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addNewTransferResponse">
		<wsdl:part name="addNewTransferResponse" element="addNewTransferResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addNewIncome">
		<wsdl:part name="addNewIncome" element="addNewIncome">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addNewIncomeResponse">
		<wsdl:part name="addNewIncomeResponse" element="addNewIncomeResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addNewExpense">
		<wsdl:part name="addNewExpense" element="addNewExpense">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addNewExpenseResponse">
		<wsdl:part name="addNewExpenseResponse" element="addNewExpenseResponse">
		</wsdl:part>
	</wsdl:message>
	
	<!-- port type -->
	<wsdl:portType name="MatahataServicePortType">
		<wsdl:operation name="addNewPlan">
			<wsdl:input name="addNewPlan" message="addNewPlan">
			</wsdl:input>
			<wsdl:output name="addNewPlanResponse" message="addNewPlanResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addNewTransfer">
			<wsdl:input name="addNewTransfer" message="addNewTransfer">
			</wsdl:input>
			<wsdl:output name="addNewTransferResponse" message="addNewTransferResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addNewIncome">
			<wsdl:input name="addNewIncome" message="addNewIncome">
			</wsdl:input>
			<wsdl:output name="addNewIncomeResponse" message="addNewIncomeResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addNewExpense">
			<wsdl:input name="addNewExpense" message="addNewExpense">
			</wsdl:input>
			<wsdl:output name="addNewExpenseResponse" message="addNewExpenseResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	
	<!-- binding -->
	<wsdl:binding name="MatahataServiceSoapBinding"
		type="MatahataServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="addNewPlan">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="addNewPlan">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="addNewPlanResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addNewTransfer">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="addNewTransfer">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="addNewTransferResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addNewIncome">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="addNewIncome">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="addNewIncomeResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addNewExpense">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="addNewExpense">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="addNewExpenseResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<!-- service -->
	<wsdl:service name="MatahataService">
		<wsdl:port name="MatahataServicePort" binding="MatahataServiceSoapBinding">
			<soap:address location="http://localhost:8080/matahata-core.ws/MatahataServicePortType" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>	